@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/eclipse_bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #e5e5e5;
  margin: 0;
  min-height: 100vh;
}
